html, body {
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}

body {
    
}

.aw-menu {
    background-color:#db4437;
    box-shadow:0 1px 8px rgba(0,0,0,.3);
}
    .aw-menu .navbar-default {
        background-color:transparent;
        border:none;
    }
    .aw-menu .aw-link {
        background-color:transparent!important;
        color:white!important;
    }
        /*.aw-menu a:active, .aw-menu a:focus {
            background-color:transparent!important;
            color:gray;
        }*/

.table .table-operation {
    width:145px!important;
}